* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", serif;
}

:root {
    --primary-color:#10375C;
}
/* =============== common ===============*/
.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 205px;
    text-align: center;
    line-height: 68px;
    color: #FFF;
    font-size: 1.8rem;
    line-height: 1.67;
    border-radius: 999px;
    background-color: #2E80CE;
}

.btn:hover {
    opacity: 0.9;
}
/* =============== header ===============*/
.header {
    background-color: var(--primary-color);
    min-height: 100vh;
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    
}

.navbar__item {
    display: flex;
    align-items: center;
}

.header__action--login,
.navbar__link {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    padding: 8px 21px;
}

.header__action--login:hover,
.navbar__link:hover,
.navbar__link--active {
    color: #FFF;
    font-size: 1.6rem;
    line-height: 1.75;
    text-shadow: 1px 0 0 currentColor;
}

.header__action--login {
    margin-right: 7px;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
    right: 8px;
    top: -3px;
}

.header__action--signup {
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}

/* =============== hero ===============*/
.hero {
    display: flex;
    padding-top: 76px;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__media {
    width: 56%;
}

.hero__heading {
    color: #FFF;
    font-size: 7.0rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; 
} 

.hero__row {
    display: flex;
    margin-top: 38px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;
    column-gap: 38px;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: end;
}

.hero__img-large {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: -6px;
    z-index: 0;
}

.hero__img-small {
    width: 210px;
    height: 410px;
    border-radius: 6px;
    object-fit: cover;
}
